<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect4 - srcots</title>
  <link rel="stylesheet" href="./static/img/logo.png">
  <link rel="stylesheet" href="./static/css/global.css">
</head>
<body>
  <main class="buscarPartida">
    <header>
      <h2>Partida vs IA - Tu turno </h2>
      <a class="adissabledexit" href="/search?username={{username}}">Salir</a>
    </header>
    <div class="tablero">
      <div class="board">
       
      </div>
      <div class='btn pointer'>
        <a>1</a> 
        <a>2</a>
        <a>3</a>
        <a>4</a>
        <a>5</a>
        <a>6</a> 
        <a>7</a>
      <div>
    </div>
  </main>
  <script src="./static/js/local.js"></script>
</body>
</html>